@use "./../../styles/mixin" as mixin;

@use "./../../styles/placeholders";

%opposite-colors {
  background-color: var(--surface-hover-clr);
  color: var(--theme-text-color);
}

%center-stack {
  grid-area: stack;
  justify-self: center;
  align-self: center;
}

%overlay {
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
  background-color: rgba(0, 0, 0, 0.2);
}
.wrapper {
  display: grid;

  width: 100%;
  .btns {
    display: flex;
    gap: 0.5rem;
    height: fit-content;
    padding: 1rem;
    border-radius: 0.75rem 0.5rem;
    background-color: var(--surface-clr);
    > .btn {
      @include mixin.Shared_btn(
        $bg: var(--surface-clr),
        $text-color: var(--theme-text-color)
      );
      padding: 1rem;
      width: 100%;

      cursor: pointer;

      transition: background-color 300ms ease-in;

      &:hover {
        @extend %opposite-colors;
      }

      &.active {
        @extend %opposite-colors;
      }
    }
  }
  .media-container {
    display: grid;
    row-gap: 1rem;
    padding: 3rem 0;
    .media {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

      gap: 1rem;
      width: 100%;

      .video-container {
        @extend %grid-stack;
        width: 100%;
        height: fit-content;
        > video {
          grid-area: stack;
          object-fit: contain;
          width: 100%;

          border-radius: 0.75rem;
        }
        .play {
          @extend %center-stack;
          color: var(--background-clr);

          outline: none;
          border: none;
          background-color: transparent;

          cursor: pointer;
          z-index: 2;

          transition: color 200ms ease-in;

          &:hover {
            color: var(--background-opposite-clr);
          }

          &.hide {
            display: none;
          }
        }
        .overlay {
          grid-area: stack;
          @extend %overlay;

          &.hide {
            display: none;
          }
        }
      }
      .img-container {
        @extend %grid-stack;
        width: 100%;
        height: 100%;
        > img {
          grid-area: stack;
          object-fit: cover;
          width: 100%;

          border-radius: 0.75rem;
        }
        .text-container {
          opacity: 0;
          z-index: -1;
          visibility: hidden;
          -webkit-user-select: none;
          user-select: none;

          grid-area: stack;
          align-self: center;
          justify-self: center;
          text-align: center;

          display: grid;
          justify-items: center;
          row-gap: 0.3rem;
          color: whitesmoke;

          padding: 1rem;

          cursor: pointer;

          font-family:
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            "Open Sans",
            "Helvetica Neue",
            sans-serif;

          transition: opacity 500ms ease-in;

          &.show {
            opacity: 1;
            visibility: visible;
            z-index: 1;
          }
          .key,
          .value {
            text-shadow: 1px 1px 0.5rem rgb(83, 83, 83);
          }
          .key {
            font-size: calc(var(--fz-sm) + 0.1rem);
          }
          .value {
            font-size: var(--fz-sm);
          }

          .img-btn {
            color: whitesmoke;
            background-color: var(--primary-clr);

            padding: 0.2rem 0.5rem;
            margin-block-start: 0.5rem;
            border-radius: 0.25rem;
            cursor: pointer;
          }
        }
        .overlay {
          opacity: 0;
          grid-area: stack;
          @extend %overlay;

          transition: opacity 300ms ease-in;

          &.show {
            opacity: 1;
          }
        }
      }
    }
  }
}
