@use "sass:map";
@use "./breakpoints" as breakMap;
@use "./maps" as colorMap;
@mixin apply_theme($theme) {
  @each $key, $value in $theme {
    --#{$key}: #{$value};
  }
}

@mixin mq($breaks_key) {
  $breakpoint: map.get(breakMap.$breaks, $breaks_key);

  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin Shared_btn(
  $bg: map.get(colorMap.$theme-light, surface-clr),
  $text-color: map.get(colorMap.$theme-light, theme-text-color)
) {
  background-color: $bg;
  color: $text-color;

  padding: 0.9rem 0.75rem;

  border-radius: 0.4rem;

  outline: none;
  border: none;
}
