@use "./../../styles/mixin" as mixin;
@use "./../../styles/placeholders";

.wrapper {
  display: grid;
  grid-template-areas: "img" "text" "btns";
  align-items: center;
  justify-items: center;
  justify-content: center;
  row-gap: 3rem;

  width: 100%;

  @include mixin.mq(sm) {
    grid-template-areas: "img text" "btns btns";
    column-gap: 3rem;
  }

  .img-box {
    grid-area: img;
    @extend %grid-stack;
    justify-items: center;
    align-items: center;

    outline: 0.3rem solid var(--primary-clr);

    outline-offset: 0.5rem;

    border-radius: 100%;

    width: fit-content;
    height: fit-content;
    .img-bg {
      grid-area: stack;
      background-color: var(--primary-clr);
      width: 100%;
      height: 100%;

      border-radius: 100%;
      z-index: 1;
    }
    > img {
      grid-area: stack;
      z-index: 2;
      border-radius: 100%;
    }
  }
  .text-box {
    grid-area: text;
    display: grid;
    justify-items: center;
    text-align: center;

    @include mixin.mq(sm) {
      text-align: start;
      justify-items: start;
    }

    h1 {
      color: var(--theme-text-color);
      font-size: var(--fz-xl);
    }

    h4 {
      color: var(--text-light-clr);
      font-size: var(--fz-sm);
    }
  }

  .icon-box {
    display: flex;
    gap: 1rem;

    > a {
      color: var(--text-light-clr);
    }
  }

  .btns {
    grid-area: btns;
    display: flex;
    width: 100%;

    display: flex;
    justify-content: space-between;
    gap: 1rem;

    > a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      font-size: var(--fz-sm);
      text-decoration: none;

      width: 100%;
      font-size: var(--fz-sm);

      cursor: pointer;
    }

    > a:first-child {
      @include mixin.Shared_btn(
        $bg: var(--primary-clr),
        $text-color: var(--text-dark-clr)
      );

      .icon {
        display: none;
        @include mixin.mq(sm) {
          display: inline-flex;
        }
      }
    }

    > a:last-child {
      @include mixin.Shared_btn(
        $bg: var(--surface-clr),
        $text-color: var(--theme-text-color)
      );

      svg {
        padding: 0;

        display: flex;
        align-items: center;
      }
    }
  }
}
