@use "sass:map";
@use "/src/styles/breakpoints" as brs;
@use "/src/styles/mixin" as mixin;
.app {
  width: 100%;
  height: 100%;
  padding: 1rem;

  display: grid;
  justify-items: center;
  row-gap: 2rem;

  @include mixin.mq(sm) {
    padding-inline: 2rem;
    max-width: map.get(brs.$breaks, lg);
  }
  @include mixin.mq(lg) {
    padding-inline: 0;
    max-width: map.get(brs.$breaks, lg);
    margin: 0 auto;
  }
}
